*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 35px 12%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    grid-area: header;
}

.header h1{
    color: white;
    font-family: 'Poppins';
}

.header h1:hover{color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);
}

/*zaiedaziem logo*/
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3 ease;
}

.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);
}

/*span tag style*/
span{
    color: orangered;
}

/*dlm left menu*/
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}

.navbar a:hover,
.navbar a:active{
    color: orangered;
    border-bottom: 3px solid orangered;
}

/*contact me button*/
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
}

.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}

/*home section*/
.home{
    width:100%;
    min-height: 100vh;
    background-color: rg(241, 241, 241);
    display:flex;
    align-items: center;
    gap: 7em;
    padding-top: 110px;
    padding-left:15%;
    padding-right:20%;
    padding-bottom:20px;
}

.home-content{
    max-width: 800px;
}

.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}

.home-content h3{
    font-size: 42px;
}

.home-content p{
    font-size: 18px;
    margin: 20px 0 30px;
    font-family: 'Poppins', sans-serif;
}

.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}

/*button 1*/
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    transition:  0.3s ease;
    cursor: pointer;
}

.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

/*button 2*/
.btn-2 {
    padding: 15px 28px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: 600;
    transition:  0.3s ease;
    cursor: pointer;
}

.btn-2:hover{
    background-color: white;
    color: orangered;
}

/*image */
.img-box img{
    border-radius: 50%;
    width: 450px;
    box-shadow :0 0 25px orangered,
                0 0 50px orangered;

}

/*about section*/
.about{
    width:100%;
    min-height: 100vh;
    background-color: black;
    display:flex;
    align-items: center;
    gap: 7em;
    padding-top: 30px;
    padding-left:12%;
    padding-right:16%;
    padding-bottom:0;
}

.about-img img{
    position:static;
    width: 450px;
    box-shadow :0 0 25px skyblue,
                0 0 50px skyblue;
    border-radius: 50%;
}

.about-content h2{
    text-align: left;
    color: white;
    font-size: 62px;
}

.about-content h3{
    color: white;
    font-size: 42px;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 10px;
}

.about-content h3 b {
    color: white;
}

.about-content p {
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
    text-align: justify; 
    transition: background-color 0.3s ease; 
}

/*link email dkat about*/
.link {
    color: white; /* Change color as desired */
    text-decoration: underline; /* Add underline to the link */
    font-weight: bold; /* Make the link bold */
}

.link:hover {
    color: skyblue /* Change color on hover */
}

.about-content p:hover {
    background-color: #444; 
}

/*skills or experience section*/
.skills {
    width: 100%;
    min-height: 100vh;
    background-color: #f1f1f1; /* Changed color */
    display: flex;
    justify-content: space-between; /* Adjusted layout */
    align-items: center;
    padding-top:3% ;
    padding-bottom:3% ;
    padding-right:3% ;
    padding-left:3% ;
}

.skills-heading {
    width: 50%; 
}

.skills-content .skills-heading h1 {
    font-size: 45px; 
    color: black; 
}

.skills-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.skills-content {
    width: 45%; 
    padding: 20px;
    background-color: #fff; /* Added background color */
    border-radius: 10px; /* Added border radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Added box shadow */
}

.skills-content :hover{
    transform: scale(1.03)
}

.skills-content p{
    font-size: 18px;
    margin: 20px 0 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.skills-content h2 {
    font-size: 24px; 
    color: #333; 
    margin-bottom: 10px;
    font-style: italic;
}

.skills-content p {
    font-size: 16px;
    color: #555; 
    margin-bottom: 20px;
    font-weight: bold;
}

/*programming skills section*/
.language {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: auto; /* Adjusted width */
    padding: 5px;
    background-color: #ffffff03; /* Added background color */
    border-radius: 10px; /* Added border radius */
    box-shadow: 0 0 20px black;
}

.lg-img {
    width: 50px;
    margin-right: 20px;
}

.language-details {
    flex: 1;
}

.language:hover {
    background-color: #ead5d5; 
}

.language-name {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Changed color */
    margin-bottom: 5px;
}

.skill-scale {
    width: 90%; /* Adjusted width */
    height: 20px;
    background-color: #eee; /* Changed color */
    border-radius: 10px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    background-color: orangered;
    border-radius: 10px;
    color: #fff; /* Changed color */
    text-align: center;
    line-height: 20px;
    transition: width 0.5s ease; /* Added transition */
}

/*lect menu section*/
.left-menu {
    position: absolute;
    top: 32%; /* Position the menu from the middle */
    left: 0;
    transform: translateY(-50%); /* Adjust to center the menu vertically */
    width: 200px;
    background-color: orangered;
    padding: 20px ;
    border-radius: 5px;
}

.left-menu .navbar a {
    font-size: 18px;
    color: #fff;
    padding: 10px 20px; 
    display: block;
    transition: background-color 0.3s ease; 
    text-align: left;
}

.left-menu .navbar a:hover {
    background-color: #FFA07A; 
}

/*right menu section*/
.right-menu {
    position: absolute;
    top: 20%; /* Position the menu from the middle */
    right: 0;
    transform: translateY(-50%); /* Adjust to center the menu vertically */
    width: 200px;
    background-color: #87CEEB;
    border-radius: 5px; 
    padding: 20px;
}

.right-menu ul li {
    margin-bottom: 10px; 
}

.right-menu ul li a {
    font-size: 16px;
    color: #fff;
    display: block;
    padding: 8px 20px; 
    transition: background-color 0.3s ease; 
}

.right-menu ul li a:hover {
    background-color: #87CEEB; 
}

.right-menu .dropdown {
    position: relative;
    display: inline-block;
}

.right-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.right-menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.right-menu .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.right-menu .dropdown:hover .dropdown-content {
    display: block;
}

/*footer*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;  
}

